@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    min-height: 100vh;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100vh;
    max-width: 500px;
    margin: auto;
    padding: 0;
    border: 1px darkgreen solid;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:darkgreen;
    width: 100%;
    color: whitesmoke;
    margin: 0;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:darkgreen;
    width: 100%;
    color: whitesmoke;
}

main {
    flex-grow: 1;
}

li {
    list-style-type: none;
}

.newTask {
    width: 100%;
}